<div class="banner">
  <% if @image %>
    <%= image_tag @image %>
  <% end %>

  <h1>
    <%= @user.username %>
  </h1>
  <% if current_user == @user %>
    <%= render 'avatar_upload' %>
  <% end %>
</div>

<div class="user-show">
  <div class="friends">
    <h1 class="title">
      Friends:
    </h1>
    <% @user.friends.each do |friend| %>
      <div class="friend"> 
        <% if friend.avatar %>
          <%= image_tag friend.avatar if friend.avatar.attached? %>
        <% end %>
        <%=link_to friend.username, user_path(friend) %>
      </div>
    <% end %>
  </div>
  <div class="posts">
    <h1 class="title"> Posts: </h1>
    <%= render 'layouts/post_feed' %>
  </div>
</div>