----------------------------------------------<br>
<%= @user.username %>'s wall<br>
---------------------------------------------<br>
<% if @image %>
  <%= image_tag @image %><br>
<% end %>
<%= render 'avatar_upload' %>
<br>
Friends:<br>
<% @user.friends.each do |friend| %> 
  <%= friend.username %><br>
<% end %>

<h3>Posts</h3>
<%= render 'layouts/post_feed' %>
