----------------------------------------------<br>
<%= @user.username %>'s wall<br>
---------------------------------------------<br>
<% if @image %>
  <%= image_tag @image %><br>
<% else %>
  <% if current_user == @user %>
    <%= link_to "Add image", edit_user_registration_path %><br>
  <% end %>
<% end %>

Friends:<br>
<% @user.friends.each do |friend| %> 
  <%= friend.username %><br>
<% end %>

<h3>Posts</h3>
<%= render 'layouts/post_feed' %>