<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
  <span class="navbar-toggler-icon"></span>
</button>

<div class="collapse navbar-collapse" id="navbarSupportedContent">
  <ul class="navbar-nav ml-auto">
    <li class="nav-item ml-auto">
      <%= link_to "All users", users_path, class: "text-white pr-4 nav-link" %>
    </li>
    <li class="nav-item ml-auto">
        <%= link_to "Log out", destroy_user_session_path, method: :delete, class: "text-white pr-4 nav-link" %>
    </li>
    <li class="nav-item ml-auto">
      <% if current_user.friend_requests.any? %>
        <%= link_to "Friend requests", new_friendship_path, class: "text-white pr-4 nav-link" %>
      <% end %>
    </li>
    <li class="nav-item ml-auto d-flex align-items-center">
      <% if current_user.avatar.attached? %>
        <%= image_tag current_user.avatar, class: "avatar-image d-inline" %>
      <% else %>
        <div class="blank-user avatar-image d-inline-flex justify-content-center align-items-center">
          <svg width="2em" height="2em" viewBox="0 0 16 16" class="bi bi-person" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
            <path fill-rule="evenodd" d="M10 5a2 2 0 1 1-4 0 2 2 0 0 1 4 0zM8 8a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm6 5c0 1-1 1-1 1H3s-1 0-1-1 1-4 6-4 6 3 6 4zm-1-.004c-.001-.246-.154-.986-.832-1.664C11.516 10.68 10.289 10 8 10c-2.29 0-3.516.68-4.168 1.332-.678.678-.83 1.418-.832 1.664h10z"/>
          </svg>
        </div>
      <% end %>
      <%= link_to current_user.username, user_path(current_user), class: "text-white pr-4 nav-link d-inline" %>
    </li>
  </ul>
</div>