<% if @posts && @posts.any? %>
  <% @posts.each do |post| %>
    <div class="card my-2 mx-auto">
      <div class="card-header d-flex justify-content-between">
        <div class="d-inline-flex align-items-center">
          <% if post.user.avatar.attached? %>
            <%= image_tag post.user.avatar, class: "avatar-image mr-2" %>
          <% else %>
            <div class="blank-user avatar-image d-inline-flex justify-content-center align-items-center mr-2">
              <svg width="2em" height="2em" viewBox="0 0 16 16" class="bi bi-person" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                <path fill-rule="evenodd" d="M10 5a2 2 0 1 1-4 0 2 2 0 0 1 4 0zM8 8a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm6 5c0 1-1 1-1 1H3s-1 0-1-1 1-4 6-4 6 3 6 4zm-1-.004c-.001-.246-.154-.986-.832-1.664C11.516 10.68 10.289 10 8 10c-2.29 0-3.516.68-4.168 1.332-.678.678-.83 1.418-.832 1.664h10z"/>
              </svg>
            </div>
          <% end %>
          <%=link_to post.user.username, user_path(post.user), class: "font-weight-bold" %>
        </div>
        <span class="post-date d-inline-flex text-muted align-self-end">
          <%= post.created_at.strftime("%m/%d/%Y") %>
        </span>
      </div>

      <ul class="list-group list-group-flush">
        <li class="list-group-item text-center py-5"><%= post.content %></li>
        <li class="list-group-item d-flex justify-content-between align-items-center">
          <div>
            <span class="mr-2"><%= post.likes.count %> Likes</span>

            <a data-toggle="collapse" href="#collapse<%=post.id%>" role="button" aria-expanded="false" aria-controls="collapse<%=post.id%>">
              <%= post.comments.count %> Comments
            </a>


          </div>
          <%= render 'layouts/like_button', post: post %>
        </li>
      </ul>
      <div class="new-post col-md-11 d-flex inline-flex align-items-center my-2 mx-auto">
        <% if @current_user.avatar.attached? %>
          <%= image_tag current_user.avatar, class: "avatar-image mr-2" %>
        <% else %>
          <div class="blank-user avatar-image d-inline-flex justify-content-center align-items-center mr-2">
            <svg width="2em" height="2em" viewBox="0 0 16 16" class="bi bi-person" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
              <path fill-rule="evenodd" d="M10 5a2 2 0 1 1-4 0 2 2 0 0 1 4 0zM8 8a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm6 5c0 1-1 1-1 1H3s-1 0-1-1 1-4 6-4 6 3 6 4zm-1-.004c-.001-.246-.154-.986-.832-1.664C11.516 10.68 10.289 10 8 10c-2.29 0-3.516.68-4.168 1.332-.678.678-.83 1.418-.832 1.664h10z"/>
            </svg>
          </div>
        <% end %>
      <%= render 'layouts/comment_form', post: post %> 
      </div>
      <%= render 'layouts/comments_feed', post: post %> 
    </div> 
  <% end %>
  
<% else %>
  <div class="card mt-2 p-5">
    <p class="text-center">Nothing here!</p>
  </div>
<% end %>