
  <% if @posts && @posts.any? %>
    <% @posts.each do |post| %>
      <div class="post">
        <div class="poster">
          <% if post.user.avatar %>
            <%= image_tag post.user.avatar if post.user.avatar != nil %>
          <% end %>
          <%=link_to post.user.username, user_path(post.user) %>
        </div>
        <div class="post-date">
          <%= post.created_at.strftime("%m/%d/%Y")%>
        </div>
        <div class="post-content">
          <%= post.content %>
        </div>
        <div class="stats">
            <div class="likes">
              <%= render 'layouts/like_button', post: post %>
              Likes: <%= post.likes.count %>
            </div>
            <div class="comment-count">Comments: <%= post.comments.count %></div>
        </div>
        <div class="comments">
          <%= render 'layouts/comments_feed', post: post %>
        </div>
        <div class="new-comment">
          <% if @current_user.avatar %>
            <%= image_tag current_user.avatar if current_user.avatar != nil %>
          <% end %>
          <%= render 'layouts/comment_form', post: post %>
        </div>
      </div>
    <% end %>
    
  <% else %>
    Nothing here!
  <% end %>
</div>