<!DOCTYPE html>
<html>
  <head>
    <title>Odinbook</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
  <header>
    <h1 class="bold logo"><%= link_to "OdinBook", root_path %></h1>

    <% if current_user %>
      <%= render 'layouts/header' %>
    <% end %>
  </header>
  <main>
    <div class="container">
      <% if flash.any? %>
        <div class="flash-message">
          <% flash.each do |type, msg| %>
            <p class="<%= type %>"><%= msg %></p> 
          <% end %>
        </div>
      <% end %>
      <%= yield %>
    </div>
    
  </main>
  </body>
</html>
